* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #f4f4f4;
}

/* Utility Classes */
.container {
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.7;
  margin: 0.35rem;
}

p {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.bg-image {
  background: url('../images/building.png') no-repeat left center;
  color: #fff;
}
/* Header  */

#main-header h1 {
  font-size: 4rem;
  text-shadow: -0.4rem -0.3rem 0.9rem dimgray;
}

#main-header ul li {
  line-height: 2.5;
}

#main-header a {
  padding: 0.5rem 0.5rem;
}

#main-header a:hover {
  background: gray;
  border-radius: 5px;
}

/* Footer */
#main-footer {
  display: flex;
  justify-content: space-between;
  background: dimgray;
  padding: 0 1rem;
}

#main-footer ul {
  display: flex;
  align-items: center;
}

#main-footer ul li {
  list-style: none;
  padding: 0.5rem;
  margin: 0 0.25rem;
}

#main-footer p {
  color: #fff;
}






